body{
    padding-left: 200px;
    background-image: url("../images/image11.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(215, 215, 223);
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-shadow: burlywood;
    text-decoration: cornsilk;
    text-indent: 0px;
}
h2{
    padding-bottom: 30px;
}
.input{
    width: 50%;
    border: black;
}
input{
    background-color: black;
    color: blanchedalmond;
}
.card{
    background-color:rgb(14, 13, 13);
}
label{
    color: rgb(236, 230, 230);
}
